.header-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-name{
  font-weight: bold;
  font-size: x-large;
  letter-spacing: 1px;
}

.main-container{
  display: flex;
  gap: 2rem;
  margin: 10px 20px;
}

.topic-list li, .menu-list li, .code-container li{
  list-style-type: none;
}

.topic-list li a, .menu-list li a{
  text-decoration: none;
}

.code-container {
  background: #272822;
  padding: 10px;
  border-radius: 5px;
  overflow: auto;
  color: white;
}

.sidebar-container{
  width: 23%;
}

.content-container{
  width: 70%;
}

.menu-list{
  display: flex;
  gap: 2rem;
  font-size: large;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .main-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 10px 20px;
  }
  .sidebar-container{
    width: 100%;
  }
  
  .content-container{
    width: 100%;
  }
}