.header-content{
  display: flex;
  align-items: center;
}

.logo-name{
  font-weight: bold;
  font-size: x-large;
  letter-spacing: 1px;
}

.main-container{
  display: flex;
  gap: 2rem;
  margin: 10px 20px;
}

ul li{
  list-style-type: none;
}

ul li a{
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .main-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 10px 20px;
  }
}